.About-main {
	height: 93vh;
	/* background-color: rgb(224, 224, 224); */
}

.About-left {
	height: 75vh;
	margin-top: 80px;
	/* background-color: wheat; */
	padding: 15px 15px !important;
}

.left-img-div {
	height: 100%;
	width: 80%;
	border: 15px solid white;
}

.About-right {
	height: 80vh;
	margin-top: 80px;
	/* background-color:aquamarine; */
}

.right-box-main {
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
}

.right-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 180px;
	width: 200px;
	/* border: 2px solid black; */
	border-radius: 10px;
    border-radius: 12px;
    /* background: #e0e0e0; */
    box-shadow:  9px 9px 18px #c5c5c5,
                 -9px -9px 18px #fbfbfb;
}

.download {
	margin-top: 50px;
	background-color: #007bff;
}

.right-box-txt {
	font-weight: 300;
	padding-top: 25px;
	margin: 0px !important;
}

.icone {
	margin: 15px;
}

.txt {
	font-size: 15px;
	font-weight: 200;
	margin-bottom: 15px !important;
}

.txt-1 {
	font-weight: 500;
	margin-bottom: 15px !important;
}
